//GLOBALS//

@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/ApfelGrotezk-Brukt.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/ApfelGrotezk-Fett.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/ApfelGrotezk-Mittel.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/ApfelGrotezk-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Apfel Grotezk";
  src: url("../fonts/ApfelGrotezk-Satt.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Mattone";
  src: url("../fonts/Mattone-Black.woff2") format("woff2");
  font-weight: 900;
}

@font-face {
  font-family: "Mattone";
  src: url("../fonts/Mattone-Bold.woff2") format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: "Mattone";
  src: url("../fonts/Mattone-Regular.woff2") format("woff2");
  font-weight: 400;
}

html {
  background-image: none;
  background-repeat: repeat;
  background-position: left;
  background-color: #222222;
  background-size: 100%;
  background-blend-mode: normal;
  background-color: #252525;
  color: #fefefe;
  width: calc(100vw - 30px);
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  padding: 0;
  font-size: 100%;
  font-family: Apfel Grotezk, sans-serif;
  display: block;
}

area, base, basefont, datalist, head, link, meta, noembed, noframes, param, rp, script, style, template, title {
  display: none;
}

body {
  margin: auto;
  min-width: 250px;
  max-width: 992px;
  display: block;
}

address, article, aside, div, footer, header, hgroup, main, nav, section {
  display: block;
}

p {
  display: block;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

img {
  max-width: 100%;
}

figure {
display: block;
margin-block-start: 0.5em;
margin-block-end: 0.5em;
margin-inline-start: 0px;
margin-inline-end: 0px;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:any-link {
  cursor: auto;
}

ul {
  margin: 0;
  padding: 0;
  display: block;
  list-style-type: none; //no bullet point
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 0px;
}

li {
  display: list-item;
  text-align: match-parent;
}

//bullet point / lack thereof?//
::marker {
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  white-space: pre;
  text-transform: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Mattone, monospace;
}

h1 {
  font-size: 3em;
  display: block;
  margin-block-start: 0em;
  padding-top: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h2 {
  text-decoration: underline;
  display: block;
  font-size: 2em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h4  {
  text-decoration: underline;
  display: block;
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h5  {
  font-variant: small-caps;
  display: block;
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

h6 {
  font-weight: bold;
  display: block;
  font-size: 1em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  font-weight: bold;
}

footer {
  text-align: center;
  font-size: 0.7em;
  padding: 3px;
  color: white;
}

//SEARCH//

input:focus, textarea:focus, select:focus {
  outline-offset: 0;
}

:focus-visible {
  outline-color: -webkit-focus-ring-color;
  outline-style: none;
  outline-width: 0;
}

input {
  appearance: none; //overrides browser defaults
  color: inherit;
  background-color: inherit;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-top-style: inset;
  border-right-style: inset;
  border-bottom-style: inset;
  border-left-style: inset;
  padding-top: 0px;
  -webkit-rtl-ordering: logical;
  -webkit-user-select: text;
  cursor: auto;
  width: 100%;
}

input, textarea, select, button {
  margin-top: 0em;
  color: inherit;
  letter-spacing: normal;
  word-spacing: normal;
  line-height: normal;
  text-transform: none;
  text-indent: 10px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
}

#search-container {
  position: absolute;
  left: 0;
  width: calc(100vw - 180px);
}

ul#results-container {
  padding-left: 10px;
  list-style-type: none;
  background-color: #333333;
}

#results-container li {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

span.post-meta {
  font-size: 0.7rem;
  color: #eeeeee;
}

//NAV//

#navigation-buttons {
  position: absolute;
  right: 0;
}

.current {
  background-color: #333333;
  color: #cccccc;
}

//HOME PAGE//

.grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  row-gap: 15px;
  column-gap: 15px;
  grid-auto-rows: 1px;
}

.item {
  background-color: orange;
}

.content h3 {
  margin-left: 7px;
  color: black;
  font-size: 2.5em;
  line-height: 1em;
}

.bigboi {
  font-size: calc(8vh + 10px);
  line-height: 1em;
}

//POST PAGE//

#byline {
  font-size: 0.7em;
  margin-block-start: 0em;
  margin-block-end: 2em;
}

//RESPONSIVE DESIGN FIXES//

@media screen and (max-device-width: 500px) {
  html {
    background-image: none;
  }

  .grid {
    grid-template-columns: 100%;
    grid-auto-rows: auto;
    row-gap: 1vw;
  }

  .content h3 {
    font-size: 4em;
    line-height: 1em;
  }
}